<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Carrinho</h1>
    <ul>
        <li th:each="item: ${items}">
            <span th:text="${item.quantidade}"></span> - 
            <span th:text="${item.produto.nome}"></span> - 
            R$ <span th:text="${item.produto.valor}"></span>
        </li>
    </ul>
    <p>Total R$ <span th:text="${total}"></span> </p>
</body>
</html>